<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../cells-generic-dp/cells-generic-dp.html">
<!--
`<cells-login-dm>` description.

Example:

```html
<cells-login-dm></cells-login-dm>
```

@demo demo/index.html
-->
<dom-module id="cells-login-dm">
  <template>

    <cells-generic-dp
      id="loginDP"
      host="http://clienteapi.us-west-1.elasticbeanstalk.com"
      path="cliente/login"
      body='[[body]]'
      method="POST"
      on-request-success="_handleLoginSuccess"
      >
    </cells-generic-dp>

  </template>
  <script src="cells-login-dm.js"></script>
</dom-module>
